{% extends "base.html" %} {% load static %}
<!--标题-->
{% block title %} 联系我们 {%endblock %}

<!--主体-->

{% block content %}

<!-- 广告横幅 -->

<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
</style>
<script type="text/javascript" src="//api.map.baidu.com/api?v=3.0&ak=5eMYwmVFk7S6f2c1YTuXaiUb40XfpV0K"></script>
<link href="{% static "css/contact.css" %}" rel="stylesheet">
<div class="container-fluid">
  <div class="row">
    <img
      class="img-responsive model-img"
      src="{% static 'img/contact.jpg' %}"
    />
  </div>
</div>
<!-- 主体内容 -->
<div class="container">
  <div class="row row-3">
    <!-- 侧边导航栏 -->
    <div class="col-md-3">
      <div class="model-title">人才招聘</div>
      <div class="model-list">
        <ul class="list-group">
          <!--侧边栏部分采用Bootstrap提供的列表组件 list-group实现-->
          <li class="list-group-item" id="contact">
            <a href="{% url 'contactApp89:contact' %}">欢迎咨询</a>
          </li>
          <li class="list-group-item" id="recruit">
            <a href="{% url 'contactApp89:recruit' %}">加入我们</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 说明文字和图片 -->

    <div class="col-md-9">
      <div class="model-details-title">欢迎咨询</div>
      <div class="col-md-4">
        <div class="contact-left">
          <h1>
            <strong>伟大科技有限公司</strong>
            <span>weida Science and Technology</span>
          </h1>
          <ul>
            <li><span>业务质询一：</span>7895317155</li>
            <li><span>业务质询二：</span>9954743671</li>
            <li><span>咨询电话：</span>744611279378</li>
            <li><span>企业传真：</span>879856382001</li>
            <li><span>地址：</span>广州市花都区迎宾大道西30号</li>
            <li><span>邮编：</span>7446834</li>
            <li>
              <span>网址：</span>
              <a href="http://python3web.com">http://python3web.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" style="margin-top: 20px">
        <!--百度地图容器-->
        <div id="allmap" style="width: 500px; height: 400px; border: #ccc solid 1px">

	</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");  // 创建Map实例
	map.centerAndZoom("广东第二师范学院",18);      // 初始化地图,用城市名设置地图中心点
	map.enableScrollWheelZoom(true);
</script>
<style lang="scss" scoped>
    .dashboard-editor-container {
        padding: 15px;
        background-color: rgb(240, 242, 245);

        overflow-y: auto;
        height: 672px;

        .chart-wrapper {
            background: #fff;
            padding: 16px 16px 0;
            margin-bottom: 32px;
        }
    }
</style>
{% endblock %}
