{% extends "base.html" %} {% load static %}
<!--标题-->
{% block title %} 首页 {% endblock %}
<!--主体-->
{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" />
<script src="{% static 'js/jqthumb.min.js' %}"></script>

<!--下部主体部分-->
<div class="container">
  <div class="row row-3">
    <div class="col-md-4">
      <!-- 企业概况 -->
      <span class="part1">
        <a href="{% url 'aboutApp89:survey' %}">哆啦百科</a>
      </span>
      <div class="line1">
        <div class="line2 theme"></div>
      </div>
      <div>
        <img class="img-responsive" src="{% static 'img/logo.jpg' %}" />
        <p class="text1">
          《哆啦A梦》（日语：ドラえもん，英语：Doraemon，香港译作“多啦A梦”）为日本漫画家藤子·F·不二雄笔下的儿童、科幻类型日本漫画，自1969年12月[注 4]开始连载[1][2]，共发行单行本45册（未收录作品参见《哆啦A梦+》）、原著大长篇漫画17本（拼合由藤子创作公司编绘之大长篇共24本）。
        </p>
      </div>
    </div>
    <div class="col-md-8">
      <!-- 新闻动态 -->
      <span class="part1">
                <a href="#">新番速递</a>
            </span>
            <a class="btn btn-default btn-xs more-btn" href="{% url 'newsApp89:news' 'company' %}">+&nbsp;更多</a>
            <div class="line1">
                <div class="line2 theme"></div>
            </div>
            <div class="col-md-5">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators nav-point">
                        {% for post in postList %}
                        <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}>
                        </li>
                        {% endfor %}
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner">
                        {% for post in postList %}
                        <div {% if forloop.first %} class="item active" {% else %} class="item" {% endif %} style="background-size:cover;">
                            <a href="{% url 'newsApp89:newDetail' post.id %}">
                                <img src="{{post.photo.url}}" class="img-responsive" onload="DrawImage(this)">
                            <div class="carousel-caption nav-title">{{post.title}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <ul class="list-unstyled list-new">
                    {% for mynew in newList %}
                    <li>
                        <a href="{% url 'newsApp89:newDetail' mynew.id %}">
                            {{mynew.title|truncatechars:"25"}}</a>
                        <span>【{{mynew.publishDate|date:"Y-m-d"}}】</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
  </div>
  <div class="row row-3">
    <!-- 产品中心 -->
    <div class="col-md-12 col-pro">
        <div class="row">
            <div class="col-md-12">
                <span class="part1">
                    <a href="{% url 'productApp89:products' 'robot' %}">百宝袋</a>
                </span>
            
                    <a class="btn btn-default btn-xs more-btn" href="{% url 'productApp89:products' 'robot' %}">+&nbsp;更多</a>
            <div class="line1" style="margin-bottom:5px;">
                <div class="line2 theme"></div>
        </div>
    </div>
    <div class="col-md-12 col-pro">
        <div id="Carousel" class="carousel slide" style="margin-bottom:30px">
            <ol class="carousel-indicators" style="display:none;">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        {% for product in productList %}
                            <div class="col-md-3 pro-images">
                                <a href="{% url 'productApp89:productDetail' product.id %}" class="thumbnail">
                                    {% for img in product.productImgs.all %}
                                    {% if forloop.first %}
                                    <img src="{{img.photo.url}}" alt="产品图片" class="img-responsive" onload="DrawImage(this)">
                                    {% endif %}
                                    {% endfor %}
                                </a>
                                <div class="carousel-caption nav-title">{{product.title}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
	</div>
  </div>

  <div class="row row-3">
    <!-- 友情链接 -->
    <div class="col-md-12"></div>
  </div>
</div> 

<script>
    //处理缩略图
    function DrawImage(hotimg) {
        $(hotimg).jqthumb({
            width: '100%', // 宽度
            height: '220px', // 高度
            zoom: '1', // 缩放比例
            method: 'auto' // 提交方法，用于不同的浏览器环境，默认为‘auto’
        });
    }
</script>
{% endblock %}
